<template>
  <div id="home">
    <!-- <router-link to="/">Home</router-link>| -->

    <div class="subtitle">
      <p>{{users.length}} users</p>
    </div>
    <div class="cards">
      <div
        class="card"
        v-for="user in users"
        v-bind:key="user.id"
        v-on:click="seeArticles(user.id)"
      >
        <div class="content">
          <p class="city">{{ user.address.city }}</p>
          <p class="name">{{ user.name }}</p>
          <p class="phone">{{ user.phone }}</p>
          <p class="email">{{ user.email }}</p>
        </div>
        <!-- <router-link :to="{ name: 'UserArticles', params: { userId: user.id }}">articles</router-link> -->
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { APIService } from "../services/APIService";

const apiService = new APIService();

export default {
  name: "home",
  components: {},
  data() {
    return {
      users: []
    };
  },
  methods: {
    getUsers() {
      apiService.getUsers().then(data => {
        this.users = data;
      });
    },
    seeArticles(userId) {
      this.$router.push({ name: "userarticles", params: { userId: userId } });
    }
  },
  mounted() {
    this.getUsers();
  }
};
</script>

<style scoped lang="scss">
#home {
  margin: auto;
  width: 80vw;
}

.subtitle {
  height: 20px;
  margin: 30px;
  text-align: left;
  color: #8e8e9d;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card:hover {
  cursor: pointer;
}
.card {
  height: 128px;
  min-width: 370px;
  margin: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px -4px rgba(21, 21, 21, 0.07);
  .content {
    padding: 30px;
    p {
      margin: 0px;
    }
    .name {
      height: 25px;
      color: #33a9fd;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      text-align: left;
    }
    .phone {
      height: 16px;
      color: #515166;
      font-size: 13px;
      line-height: 17px;
      text-align: left;
    }
    .email {
      height: 16px;
      color: #515166;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
    .city {
      height: 16px;
      color: #515166;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
  }
}
</style>

