<template>
  <div id="userarticles">
    <div class="bloc-back">
      <div class="content">
        <router-link class="link" to="/">Retour à la liste des auteurs</router-link>
        <div class="user-infos">
          <div class="name">{{user.name}}</div>
          <div class="bloc-contact">
            <span class="address">{{user.address.street}} {{user.address.city}}</span>
            <span class="phone">{{user.phone}}</span>
            <span class="email">@{{user.email}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="articles">
      <div class="subtitle">
        <p>{{articles.length}} articles</p>
      </div>
      <div class="cards">
        <div class="card" v-for="article in articles" v-bind:key="article.id">
          <div class="content">
            <h3 class="title">{{ article.title }}</h3>
            <span class="resume">{{ article.body }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { APIService } from "../services/APIService";
const apiService = new APIService();

export default {
  name: "UserArticles",
  components: {},
  data() {
    return {
      articles: [],
      user: {
        name: null,
        email: null,
        phone: null,
        address: {
          street: null,
          city: null
        }
      }
    };
  },
  methods: {
    getArticles() {
      apiService.getArticles(this.$route.params.userId).then(data => {
        this.articles = data;
      });
    },
    getUser() {
      apiService.getUser(this.$route.params.userId).then(data => {
        this.user = data;
      });
    }
  },
  mounted() {
    this.getArticles();
    this.getUser();
  }
};
</script>

<style scoped lang="scss">
.bloc-back {
  height: 199px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px -4px rgba(21, 21, 21, 0.07);
  .content {
    margin: auto;
    width: 80vw;
    position: relative;
    top: 20px;
    .link {
      text-decoration: none;
      color: #8e8e9d;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .user-infos {
      margin-top: 50px;
      .name {
        color: #515166;
        font-size: 24px;
        font-weight: bold;
        line-height: 31px;
      }
      .bloc-contact {
        margin-top: 15px;
        display: flex;
        position: relative;
        bottom: 0px;
        color: #33a9fd;
        line-height: 20px;

        .email {
          flex-grow: 2;
        }
        .address {
          flex-grow: 9;
        }
        .phone {
          flex-grow: 1;
        }
      }
      @media screen and (max-width: 640px) {
        .bloc-contact {
          flex-direction: column !important;
        }
      }
    }
  }
}

.articles {
  margin: auto;
  width: 80vw;
}
.subtitle {
  height: 20px;
  margin: 30px;
  text-align: left;
  color: #8e8e9d;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 370px;
  margin: 30px;
  width: 370px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 15px -4px rgba(21, 21, 21, 0.07);
  .content {
    padding: 30px;
    .title {
      height: 75px;
      width: 310px;
      color: #33a9fd;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }
    .title::first-letter {
      text-transform: uppercase;
    }
    .resume {
      height: 75px;
      text-align: left;
      width: 310px;
      color: #8e8e9d;
      font-size: 13px;
      font-style: italic;
      line-height: 19px;
    }
  }
}
</style>

