<template>
  <div id="footer">
    <div class="content">
      <img id="logo" alt="WeSave logo" src="../assets/img/logo.png" />

      <div class="links">
        <ul>
          <li>WeSave</li>
          <li>WeSave Conseil</li>
          <li>WeSave Cmpagny</li>
        </ul>
        <ul>
          <li>Blog</li>
          <li>Les articles</li>

          <li>Les auteurs</li>
          <li>Aide</li>
        </ul>
      </div>
      <div class="foot">
        <span>© 2018 WeSave Conseil.</span>
        <span>Tous droits réservés . Conseiller en Investissement Financier, régulé par l’AMF. WeSave est une filialle d’Amundi.</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#footer {
  height: 346px;
  background-color: #ffffff;
}

.content {
  width: 80vw;
  margin: auto;
}

#logo {
  margin-top: 20px;
  height: 20px;
  width: 114px;
  opacity: 0.9;
}

.nav-btns {
  position: relative;
  top: 60vh;
  left: 50vw;
  display: flex;
  width: fit-content;
  .nav-btn {
    height: 56px;
    width: 270px;
    border-radius: 27.5px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    align-items: center;
    margin-left: 10px;

    .text {
      position: relative;
      top: 15px;
    }
  }
}

.title {
  display: inline;
  position: relative;
  top: 50vh;
  left: 20vh;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.links {
  display: flex;
  justify-content: flex-end;
  ul {
    list-style: none;
    li {
      font-size: 14px;
      color: #979dad;
    }
    li:first-child {
      font-size: 18px;
      font-weight: 600;
      color: #37383c;
      margin-bottom: 20px;
    }
  }
}

.foot {
  color: #979dad;
  font-size: 12px;
  line-height: 30px;
  border-top: solid rgba(151, 157, 173, 0.32) 1px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}
</style>
