<template>
  <div id="sidebar">
    <img id="logo" alt="WeSave logo" src="../assets/img/logo-white.png" />
    <div class="title">Eum Arctoae participemque siquid qui eum per solus.</div>

    <router-link class="nav-btn" to="/">
      <span class="text">Home</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "TopNav"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#sidebar {
  height: 99vh;
  text-align: center;

  background: linear-gradient(
    180deg,
    #0076c9 0%,
    rgba(51, 169, 253, 0.38) 100%
  );
}

#logo {
  height: 20px;
  width: 114px;
  opacity: 0.9;
  position: absolute;
  left: 20px;
  top: 20px;
}

.nav-btn {
  height: 56px;
  width: 270px;
  display: block;
  border-radius: 27.5px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  align-items: center;
  margin: auto;
  position: relative;
  top: 60vh;
  .text {
    position: relative;
    top: 15px;
  }
}

.title {
  display: inline;
  position: relative;
  top: 50vh;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
</style>
