<template>
  <div id="app">
    <TopNav />
    <router-view />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import TopNav from "./components/TopNav";
import Footer from "./components/Footer";

export default {
  name: "home",
  components: {
    TopNav,
    Footer
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  background-color: #f7f8f9;
}

body {
  margin: 0px;
}
</style>
